APP_ENV=local
APP_NAME=BaileyAI
LOG_LEVEL=INFO

HOST=0.0.0.0
PORT=8000

CUDA_DEVICE=cuda

STT_MODEL_NAME=distil-whisper/distil-large-v3
STT_COMPUTE_TYPE=float16
STT_LANGUAGE=en

LLM_MODEL_NAME=Qwen/Qwen2.5-7B-Instruct-AWQ
LLM_MAX_NEW_TOKENS=120
LLM_TEMPERATURE=0.7

TTS_MODEL_NAME=chatterbox-turbo

AWS_REGION=us-east-1
SSM_PARAMETER_PREFIX=