fastapi
uvicorn[standard]

numpy<2

torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0

transformers==5.2.0
accelerate

faster-whisper

chatterbox-tts==0.1.7

soundfile
python-multipart
websockets
jinja2
optree>=0.13.0